html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #343351;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #0288d1;
}

* {
  box-sizing: border-box;
}

.languages {
  display: flex;
  justify-content: center;
  height: 30px;
}

.languages a {
  padding: 4px;
  margin: 0 4px;
}

.footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > div {
  margin: 0 4px;
}
